* 
  
  body {
      background-color: black;
      display: flex;
      justify-content: center;
  }
  
  
  
  .container {
      border: 7px solid black;
      background-color: whitesmoke;
  }
  
  .imagen{
      width:230px;
      height: 230px;
      border-radius:70;
  }
  
  
  .todito {
      display: flex;
      justify-content: center;
  
  }
  
  .Informacion{
      background-color: rgb(255, 255, 255);
      padding: 25px;
      margin: 15px 10px;
  }
  
  .Academica{
  
      background-color: #a4f5ca;
      padding: 25px;
      margin: 15px 10px;
  }
  
  .Habilidades{
  
      background-color: rgb(149, 173, 255);
      padding: 25px;
      margin: 15px 10px;
  }
  
  .Proyectos{
  
      background-color: rgb(156, 179, 255);
      padding: 25px;
      margin: 15px 10px;
  }
  
  .certificados {
      background-color: rgb(94, 125, 228);
      padding: 25px;
      margin: 15px 10px;
  
  }