@font-face {
    font-family: "letra1";
    src: url("../font/open-regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "letra2";
    src: url("../font/open-semibold.ttf");
    font-weight: normal;
    font-style: normal;
}

.Fondoblanco{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 1400px;
    height: 800px;
}
.tarjeta2{
    position: absolute;
    top: 253px;
    left: 359px;
    width: 576px;
   
}
.logo{
    position: absolute;
    top: 243px;
    left: 143px;
    width: 196px;
    height: 44px;
}
.lateral{
    position: absolute;
    top: 200px;
    left: 1390px;
    width: 110px;
    height: 800px;
}
.arriba{
    position: absolute;
    top: 240px;
    left: 1433px;
    width: 24px;
    height: 14px;
}
.abajo{
    position: absolute;
    top: 946px;
    left: 1433px;
    width: 24px;
    height: 14px;
}
.fondoVerde{
    position: absolute;
    top: 847px;
    left: 1180px;
    width: 160px;
    height: 114px;
    border-radius: 8px;
}
.logo2{
    top: 876px;
    left: 1195px;
    width: 129px;
    height: 29px;
    position: absolute;
}
.busqueda{
    top: 252px;
    left: 1224px;
    width: 27px;
    height: 27px;
    position: absolute;
}
.carrito{
    top: 252px;
    left: 1324px;
    width: 33px;
    height: 32px;
    position: absolute;
}
.numeros{
    top: 507px;
    left: 1430px;
    width: 23px;
    height: 187px;
    position: absolute;
}
.text1{
    position: absolute;
    top: 650px;
left: 381px;
;
height: 55px;
    font-size: 50px;
    font-family: "letra2";
}

.text2{
    position: absolute;
    top: 747px;
left: 603px;
width: 329px;
height: 37px;
    font-size: 27px;
    font-family: "letra2";
}
.text3{
    position: absolute;
    top: 218px;
    left: 1072px;
    width: 132px;
    height: 41px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: "letra1"
}
.text4{
    position: absolute;
    top: 218px;
    left: 800px;
    width: 230px;
    height: 41px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: "letra1"
}
.text5{
    position: absolute;
    top: 880px;
    left: 1200px;
    width: 111px;
    height: 36px;
    font-size: 26px;
    color: rgb(0, 0, 0);
    font-family: "letra2";
}
.text6{
    position: absolute;
    top: 349px;
    left: 1403px;
    width: 84px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: "letra1";
}
.text7{
    position: absolute;
    top: 807px;
left: 683px;
width: 329px;
height: 37px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "letra1";
}
.text8{
    position: absolute;
    top: 857px;
left: 703px;
width: 329px;
height: 37px;
    border-radius: 1px;
    font-size: 30px;
    color: rgb(83, 81, 81);
    font-family: "letra1";
}