.contenedor-flex{
    display: grid;
    width: 73vw;
    background-color: black;
    border-radius: 1vw;
    margin-left: 15vw;
}
.contenedor-flex_img1{
    margin-top: 1vw;
    margin-left: 1vw;
    width: 34.7vw;
    border-radius: 20px;
}
.contenedor-flex_img2{
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    border-radius: 20px;
    width: 34.7vw;
}
.contenedor-flex_img3{
    width: 34.53vw;
    margin-top: 1vw;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 20px;   
}
.contenedor-flex_img4{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 1.1vw;
    margin-bottom: 1vw; 
    width: 70.5vw;
    border-radius: 20px;
}
.contenedor-flex1{
    margin-top: 1vw;
    align-self: center;
    display: grid;
    width: 73vw;
    background-color: black;
    border-radius: 1vw;
    margin-left: 15vw;
}
.contenedor-flex1_img5{
    width: 34.7vw;
    border-radius: 20px;
    margin-left: 1.4vw;
    margin-top: 1vw;
}
.contenedor-flex1_img6{
    margin-top: 1vw;
    margin-left: 1.4vw;
    margin-bottom: 1vw;
    width: 34.7vw;
    border-radius: 20px;
}
.contenedor-flex1_img7{
    width: 32.6vw;
    border-radius: 40px;
    margin-top: 1vw;
    margin-left: 0.5;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}